# SPDX-License-Identifier: Apache-2.0

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: manager-rolebinding
  namespace: kubesan-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: manager-role
subjects:
- kind: ServiceAccount
  name: cluster-controller-manager
  namespace: kubesan-system
- kind: ServiceAccount
  name: node-controller-manager
  namespace: kubesan-system
